extends layout

block content
  h1 Classe Nivel #{class.nivel}
  table
      thead
          tr
              th Codigo
              th Title
              th Descrição
              th Estado
      tbody
            tr
                td=class.codigo
                td=class.titulo
                td=class.descricao
                td=class.status
  if (class.filhos.length > 0)
    h2 Descendentes:
    table
      thead
          tr
              th Codigo
              th Title
              th Descrição
              th Estado
      tbody
            for i in class.filhos
                tr
                    td 
                        a(href="/classs/id/c" + i.codigo)= i.codigo
                    td=i.titulo
                    td=i.descricao
                    td=i.status
  a(href=('/'))
    p Voltar À página inicial