extends layout

block content
  h1 Classe Nivel #{classe.nivel}
  table
      thead
          tr
              th Codigo
              th Title
              th Descrição
              th Estado
      tbody
            tr
                td=classe.codigo
                td=classe.titulo
                td=classe.descricao
                td=classe.status
  if (classe.filhos.length > 0)
    h2 Descendentes:
    table
      thead
          tr
              th Codigo
              th Title
              th Descrição
              th Estado
      tbody
            for i in classe.filhos
                tr
                    td 
                        a(href="/classs/id/c" + i.codigo)= i.codigo
                    td=i.titulo
                    td=i.descricao
                    td=i.status
    if (classe.termosInd.length > 0)
    h2 Termos de indíce:
    table
      thead
          tr
              th Id
              th Termo
      tbody
            for t in classe.termosInd
                tr
                    td 
                        a(href="/termosInd")= t.idTI                    
                    td=t.termo
  a(href=('/'))
    p Voltar À Página inicial